doctype
head
    title  Charlie Greenman
    link(href='css/main.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css')
    script(src='js/main.js')
body
    #compContainer
        #comp
            textarea(id = 'txt' placeholder = '').
                GRANTING ACCESS
        #standBar
        #standBase
        #keyboard
        #mouse


